:root {
    font-size: 16px; /*Valor por defecto, base para los em y rem */
    --white10: white;
    --black: black;
    --black10: rgba(97, 97, 97, 0.2);
    --bluegray: #B8C1EC;
    --rosepale: #D4939D;
    --bluestrong: #232946;
    --inactive: rgba(66, 66, 66, 0.2);
}

body {
    color: var(--white10);
    /* Utilizando Google Fonts o cualquier proveedor de fuentes*/
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bluestrong);
    margin: 0;
}

.banner {
    block-size: 10px;
}

.header-content {
    padding-inline: 20px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 24px;
    margin-block-start: 40px;
    margin-block-end: 16px;
}

h2 {
    font-size: 24px;
    margin-block: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 16px;
}

header {
    font-size: 14px;
    color: var(--white10);
}

header nav h3 {
    font-size: 14px;
}

header li {
    color: var(--bluegray);
    margin-block-end: 16px;
}

header a {
    color: var(--bluegray);
    text-decoration: none;
}

header a:hover {
    color: var(--white10);
}

nav details summary {
    font-weight: bold;
}

a {
    color: var(--bluegray);
}

#project-modes {
    margin-block-end: 40px;
}

#project-modes ul {
    padding-inline-start: 0px;
}

#project-modes li {
    margin: 0px;
    padding-block: 8px;
    padding-inline-start: 8px;
    border-radius: 4px;
    list-style: none;
}

#project-modes a:hover {
    color: var(--white10);
}

#project-modes li:hover {
    background-color: var(--black);
}

#project-modes li:hover a {
    color: var(--white10);
}

hr {
    margin-block: 40px;
    border-color: var(--black10);
}

.section-content {
    counter-reset: subtitle-list;
}

.section-content img {
    display: block;
    max-inline-size: 100%;
}

.section-content h3 {
    counter-increment: subtitle-list;
}

#setup h3::before {
    content: counter(subtitle-list)'. ';
}

.section-content li {
    color: var(--bluegray);
}

.background-icon {
    margin-block-start: 40px;
    inline-size: 64px;
    block-size: 64px;
    background-color: var(--white10);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-icon img {
    inline-size: 45px;
    block-size: 45px;
}

.without-background-icon {
    margin-block-start: 40px;
    inline-size: 64px;
    block-size: 64px;
}

#concepts-essential h3 {
    margin-block-start: 40px;
}

#box-model h3 {
    margin-block-start: 40px;
}

#box-model ul {
    padding-inline-start: 16px;
}

#box-model ol {
    padding-inline-start: 16px;
}

pre {
    padding-inline: 40px;
    padding-block: 40px;
    overflow: auto;
    margin-block-end: 30px;
}

blockquote {
    margin-block-start: 40px;
    margin-block-end: 40px;
    margin-inline: 0px;
    background-color: var(--rosepale);
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 16px;
    line-height: 32px;
    font-size: 16px;
}

blockquote p {
    color: var(--bluestrong);
    margin-block: 0px;
}

blockquote p:last-child {
    color: var(--bluestrong);
    margin-block-start: 16px;
}

blockquote p:last-child::before {
    content: '- ';
}

p {
    color: var(--bluegray);
}

p span {
    font-weight: bold;
}

#mail-contact {
    color: var(--rosepale);
}

.main hr {
    display: none;
}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;
}
.slider-container{
    /* block-size: 100px; */
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}
.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

}
.slider-bullet-list{
    text-align: center;
    margin-block-start: 10px;
    
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--gray30);
    border-radius: 50%;
}

.form {
    margin-block-end: 40px;
}

.form input {
    inline-size: 100%;
    background-color: var(--bluestrong);
    box-sizing: border-box;
    border: 1px solid var(--white10);
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white10);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
    font-family: 'Montserrat', sans-serif;
}

.form input::-webkit-input-placeholder {
    color: var(--white10);
}

.form input[type="submit"] {
    background-color: var(--rosepale);
    border-color: var(--rosepale);
    color: var(--bluestrong);
    font-weight: bold;
}

#form-section h2 {
    font-size: 20px;
    font-weight: normal;
    margin-block-end: 16px;
}

footer {
    margin-block-start: 40px;
    padding-block: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rosepale);
    position: relative;
    z-index: 999;
}

footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    margin-block-start: 0px;
    margin-block-end: 16px;
    color: var(--bluestrong);
}

footer img {
    inline-size: 18px;
    block-size: 18px;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
}


@media screen and (min-width: 1366px) {
    .banner {
        block-size: 50px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        inset-block-start: 50px;
        padding-inline: 0;
    }

    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 201px;
    }

    #project-modes {
        margin-block-end: 104px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .background-icon img {
        inline-size: 55px;
        block-size: 55px;
    }

    .background-icon {
        inline-size: 80px;
        block-size: 80px;
    }

    .without-background-icon {
        inline-size: 80px;
        block-size: 80px;
    }

    blockquote {
        padding-inline: 24px;
        padding-block: 24px;
        font-size: 24px;
    }

    .form {
        margin-block-end: 80px;
    }
}