@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
    /*Regular*/
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
    /*Regular*/
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px; 
    --white30: #FFFFFE;
    --white20: #B8C1EC;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
    --black: black;
    --black10: #424242;
    --black61: #616161;
}
html{
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header a {
    text-decoration: none;
    color: VAR(--gray30)
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: VAR(--gray10);
    /* position: absolute;
    width: 188px;
    left: -210px;
    top: 64px; */
}
header li{
    margin-bottom: 16px;
}
/* header a:hover {
    color: #212121;

} */
header a:hover {
    color: var(--white30);
    font-weight: bold;
}
/* header a:hover {
    color: var(--gray30);
} */
#project-modes a:hover {
    color: var(--white30);
}
#project-modes li:hover {
    background-color: var(--black);
}

#project-modes li:hover a {
    color: var(--white30);
}

a {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}
#project-modes {
    margin-block-end: 40px;
}

#project-modes ul {
    padding-inline-start: 0px;
}

#project-modes li {
    margin: 0px;
    padding-block: 8px;
    padding-inline-start: 8px;
    border-radius: 4px;
    list-style: none;
}

pre {
    background: #fEc62E;
    padding: 40px;
    font-family: "Roboto";
    line-height: 24px;
}

.hero {
    block-size: 50px;
    background: linear-gradient(to top, rgba(255, 255, 255, .2), transparent), url(../images/patron-1.png);
}

h1{
    font-size: 24px;
    margin: 40px 0px 16px 0px;
    font-weight: 400;
}
/* h1 ~ p{
    margin-bottom: 64px;
} */
.first-hr{
    border-style: var(--gray10);
    margin: 64px 0;
} 
h2{
    font-size: 24px;
    margin: 64px 0px 40px 0px;
}
h3{
    font-size: 20px;
    font-weight: normal;
    margin: 16px 0px 24px 0px;

}
blockquote{
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30); 
}
blockquote span{
    color: var(--gray10);
}
blockquote span::before{
    content:"-"

}

#mail-contact {
    color: var(--black) ;
}
.wrapper{
    width: 902px;
    margin: auto;
}
/* .header{
    position: sticky;
    inset-block-start: -45px;
} */
.header-content{
    padding-inline: 20px;
}
.section-content{
    margin-top: 64px;
}
.section-content:first-of-type{
    margin: 0;
}
.section-content ol li{
    line-height: 24px;
}
.section-content ul li{
    margin-bottom: 16px;
}
.section-content + hr{
    display: none;
}
.section-content img{
    margin-top: 40px;
}
.section-content{
    counter-reset: titleList;
}
.section-content h3{
    counter-increment: titleList;
    padding-top: 8px;
}
.section-content h3::before{
    content: counter(titleList) ". ";
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: #424242;
    display: block;
    margin-top: 4px;
}
.slider-container{
    /* block-size: 100px; */
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}
.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

}
.slider-bullet-list{
    text-align: center;
    margin-block-start: 10px;
    
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--gray30);
    border-radius: 50%;
}
form {
    display: inline-block;
    inline-size: 100%;
    margin-block-end: 40px;
}

.form input {
    inline-size: 100%;
    block-size: 48px;
    box-sizing: border-box;
    border: 1px solid var(--gray30);
    border-radius: 90px;
    padding-inline: 16px;
    padding-block: 12px;
    font-size: 16px;
    margin-block-end: 24px;
    font-family: 'Montserrat', sans-serif;
}
.form input::-webkit-input-placeholder {
    color: var(--gray30);
}
form input::-webkit-input-placeholder {
    color: #424242;
}

.form div {
    display: flex;
    justify-content: flex-end;
}

.form input[type="submit"] {
    cursor: pointer;
    inline-size: 119px;
    block-size: 48px;
    padding-inline: 16px;
    padding-block: 12px;
    background-color: var(--black);
    border-color: var(--black)k;
    color: var(--white30);
    position: absolute;
    padding: 10px;
}

#form-section h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 24px;
}
footer {
    display: flex;
    margin-block-start: 40px;
    padding-block: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray30);
    max-width: 100%;
    position: relative;
    z-index: 999;
}

footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    margin-block-start: 0px;
    margin-block-end: 16px;
    color: var(--white30);
}

footer img {
    inline-size: 18px;
    block-size: 18px;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
}




@media screen and (min-width: 1366px){
    .hero{
        block-size: 350px;
    }
    .header{
        position: sticky;
        inset-block-start: -45px;
    }
    .header-content{
        position:relative;
        inset-block-start: 65px;
        padding-inline: 0;

    }
    
    header {
        position:absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }
    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }
    blockquote {
        padding-inline: 24px;
        padding-block: 24px;
        font-size: 24px;
    }

    .form {
        margin-block-end: 80px;
    }
    footer p {
        font-size: 32px;
    }
}