:root {
    font-size: 16px;
    --white30: #FFFFFE;
    --white20: #B8C1EC;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
    --black: black;
    --black10: #424242;
}

body {
    color: var(--gray30);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.banner {
    block-size: 40px;
    background: none;
}

.header-content {
    /* position: absolute; */
    padding-inline: 0;
}

header {
    /* position: relative; */
    inset-block-start: 0;
    inset-inline-start: 16px;
    inline-size: auto;
}

#first-hr {
    margin-block: 40px;

}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 32px;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

h2 {
    font-size: 24px;
    margin-block: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-block: 16px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--gray10);
}

header li {
    color: var(--gray10);
    margin-block-end: 16px;
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray20);
}

nav h3  {
    font-size: 14px;
}

nav details summary {
    font-weight: bold;
}

a {
    color: var(--gray20);
}

#project-modes {
    margin-block-end: 40px;
}

#project-modes ul {
    padding-inline-start: 0px;
}

#project-modes li {
    margin: 0px;
    padding-block: 8px;
    padding-inline-start: 8px;
    border-radius: 4px;
    list-style: none;
}

#project-modes a:hover {
    color: var(--white20);
}

#project-modes li:hover {
    background-color: var(--black);
}

#project-modes li:hover a {
    color: var(--white30);
}

hr {
    margin-block: 40px;
    border-color: var(--black10);
}

.section-content {
    counter-reset: subtitle-list;
}

.section-content img {
    display: block;
    max-inline-size: 100%;
}

.section-content h3 {
    counter-increment: subtitle-list;
}

.section-content h3::before {
    content: counter(subtitle-list)'. ';
}

#box-model h3::before {
    content: '';
}

.background-icon {
    margin-block-start: 40px;
    inline-size: 64px;
    block-size: 64px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-icon img {
    inline-size: 45px;
    block-size: 45px;
}

.without-background-icon {
    margin-block-start: 40px;
    inline-size: 64px;
    block-size: 64px;
}


#concepts-essential h3 {
    margin-block-start: 40px;
}

#box-model h3 {
    margin-block-start: 40px;
}

#box-model ul {
    padding-inline-start: 16px;
}

#box-model ol {
    padding-inline-start: 16px;
}

pre {
    background-color: var(--grayE5);
    padding-inline: 40px;
    padding-block: 40px;
    overflow: auto;
    border-radius: 8px;
    margin-block-end: 30px;
}
#second-hr{
    display: none;
}
blockquote {
    margin-block-start: 40px;
    margin-block-end: 40px;
    margin-inline-start: 0px;
    font-size: 16px;
    padding-inline-start: 16px;
    border-inline-start: 4px solid var(--gray30);
}

blockquote p {
    color: var(--gray30);
}

blockquote p:last-child {
    color: var(--gray10);
}

blockquote p:last-child::before {
    content: '- ';
}

p {
    color: var(--gray30);
    text-align: justify;
}

p span {
    font-weight: bold;
}

#mail-contact {
    color: var(--black);
}

.main hr {
    display: none;
}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;
}

.slider-container{
    /* block-size: 100px; */
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}
.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

}
.slider-bullet-list{
    text-align: center;
    margin-block-start: 10px;
    
}
.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--gray30);
    border-radius: 50%;
}
.form {
    display: inline-block;
    inline-size: 100%;
    margin-block-end: 40px;
}

.form input {
    inline-size: 100%;
    block-size: 48px;
    box-sizing: border-box;
    border: 1px solid var(--gray10);
    border-radius: 90px;
    padding-inline: 16px;
    padding-block: 12px;
    font-size: 16px;
    margin-block-end: 24px;
    font-family: 'Roboto', sans-serif;
}

.form input::-webkit-input-placeholder {
    color: var(--gray30);
}

.form div {
    display: flex;
    justify-content: flex-end;
}

.form input[type="submit"] {
    cursor: pointer;
    inline-size: 119px;
    block-size: 48px;
    background-color: var(--black);
    color: var(--white30);
    position: absolute;
}

#form-section h2 {
    font-size: 20px;
    margin-block-end: 16px;
}

footer {
    margin-block-start: 40px;
    padding-block: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray20);
}

footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    margin-block-start: 0px;
    margin-block-end: 16px;
    color: var(--white30);
}

footer img {
    inline-size: 18px;
    block-size: 18px;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
}

@media screen and (min-width: 1366px) {
  
    .header {
        inset-block-start: -45px;
    }

    .header-content {
        /* position: relative; */
        inset-block-start: 50px;
        padding-inline: 0;
    }

    header {
        position: relative;
        inset-block-start: 0;
        inset-inline-start: 16px;
        inline-size: auto;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .background-icon img {
        inline-size: 55px;
        block-size: 55px;
    }

    .background-icon {
        inline-size: 80px;
        block-size: 80px;
    }

    .without-background-icon {
        inline-size: 80px;
        block-size: 80px;
    }

    blockquote {
        margin-block-start: 80px;
        margin-block-end: 80px;
        font-size: 24px;
    }

    #form-section h2 {
        font-size: 24px;
        margin-block-end: 16px;
    }

    .form {
        display: flex;
        inline-size: auto;
        margin-block-end: 80px;
    }

    .form input {
        inline-size: 280px;
        block-size: 48px;
    }

    .form div {
        margin-inline-start: 16px;
    }

    footer {
        margin-block-start: 80px;
    }

    footer p {
        font-size: 32px;
    }
}